[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
jedi = "*"
flake8 = "*"
autopep8 = "*"
ipython = "*"
ipdb = "*"

[packages]
django = "*"
djangorestframework = "*"
mysqlclient = "*"
gunicorn = "*"
